<div class="columns">
  <div class="column">
    <div class="card has-background-black has-text-white">
      <div class="card-header">
        <h1 class="card-header-title is-centered title is-4 has-text-white">
          Weather
        </h1>
      </div>
      <div class="card-content" style="height: 200px;">
        {{latestWeather.weatherDescription}}
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card has-background-black has-text-white">
      <div class="card-header">
        <h1 class="card-header-title is-centered title is-4 has-text-white">
          Temp
        </h1>
      </div>
      <div class="card-content" style="height: 200px;">
        {{latestWeather.tempC}}&#8451;
        <br />
        {{latestWeather.tempF}}&#8457;
        <br />
        Min Temp &#x21E5;
        {{latestWeather.minTemp}}&#8451;
        <br />
        Max Temp &#x21E5;
        {{latestWeather.maxTemp}}&#8451;
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card has-background-black has-text-white">
      <div class="card-header">
        <h1 class="card-header-title is-centered title is-4 has-text-white">
          Wind
        </h1>
      </div>
      <div class="card-content" style="height: 200px;">
        {{latestWeather.windSpeedBft}}
        Bft
        <br />
        Min &#x21E5;{{latestWeather.minWindSpeed}}
        <br />
        Max &#x21E5;{{latestWeather.maxWindSpeed}}
        <br />
        {{latestWeather.windDirection}}
        <br />
        <p>feels like
          <br />
          {{latestWeather.windChill}}<br />
        </p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card has-background-black has-text-white">
      <div class="card-header">
        <h1 class="card-header-title title is-4 is-centered has-text-white">
          Pressure
        </h1>
      </div>
      <div class="card-content" style="height: 200px;">
        {{latestWeather.pressure}}
        &#13169;
        <br />
        Min &#x21E5;{{latestWeather.minPressure}}
        <br />
        Max &#x21E5;{{latestWeather.maxPressure}}
      </div>
    </div>
  </div>
</div>