{{#each stations}}
  <div class="box box-link-hover-shadow">
    <h2 class="title has-text-centered">
      {{title}}
    </h2>
    <section class="content">
      <p class="has-text-gray has-text-centered">
        Latitude:
        {{latitude}}
        Longitude:
        {{longitude}}
      </p>
    </section>
    {{#with (lookup ../latestWeatherDashboard @index)}}
      {{> cards latestWeather=this}}
    {{/with}}
    <a href="/station/{{_id}}" class="icon has-text-primary">
      {{>icons/open}}
    </a>
    <a href="/dashboard/deletestation/{{_id}}" class="button">
    {{>icons/delete}}
  </a>
  </div>
{{/each}}